{% load static %}

<!DOCTYPE html>
<html lang="en">
    {% include 'includes/head.html' %}
    <body>
        {% block content %} {% endblock %}
        {% include 'includes/footer.html' %}

        <script defer>
            let form = document.getElementById('subscription-form')


            form.addEventListener('submit', event => {
                event.preventDefault()

                let email = document.getElementById('email-for-subscription')

                if (email.value.trim().length > 0) { // fix this shit - add proper validation
                    postJSON({email: email.value})
                }
                // do something if email is not valid
            })


            async function postJSON(data) {
                try {
                    const response = await fetch("{% url 'records:subscribe' %}", {
                        method: "POST", // or 'PUT'
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRFToken": '{{ csrf_token }}'
                        },
                        body: JSON.stringify(data)
                    });

                    const result = await response.json()

                    console.log(result)

                    if (result.message === 'Subscribed') {
                        const dialog = document.getElementById("modalsuccess")
                        dialog.showModal()
                    }

                    if (result.message === 'Duplicate found') {
                        const dialog = document.getElementById("modalduplicate")
                        dialog.showModal()
                    }
                } catch (error) {
                    const dialog = document.getElementById("modalerror")
                    dialog.showModal()
                }
            }
        </script>

        <dialog id="modalsuccess" class="modal">
            <h1>Спасибо за подписку!</h1>
            <p>Теперь вы сможете получать актуальную информацию об обновлениях данного ресурса.</p>
            <form method="dialog">
                <button>&#10005;</button>
            </form>
        </dialog>

        <dialog id="modalduplicate" class="modal">
            <h1>Данная электронная почта уже подписана на обновления!</h1>
            <form method="dialog">
                <button>&#10005;</button>
            </form>
        </dialog>

        <dialog id="modalerror" class="modal">
            <h1>Что-то пошло не так!</h1>
            <p>Попробуйте снова. В этот раз попробуйте стандартный формат электронной почты (напр. test@test.uz)</p>
            <form method="dialog">
                <button>&#10005;</button>
            </form>
        </dialog>

    </body>
</html>