:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

    --color-text-primary: #121;
    --color-primary: #8DD3BB;
    --color-primary-light: #CDEAE1;
    --color-highlight: #FF8682;
    --color-neutral: #fff;
    --color-bg: #FAFBFC;

    --content-width: 1200px;
}

*, *::before, *::after {
    box-sizing: border-box
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%
}

input, button, textarea, select {
    font: inherit
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word
}

a {
    text-decoration: none
}

ul {
    list-style: none;
}

body {
    background-color: var(--color-bg, #FAFBFC);
}

.header {
    width: 100%;
}

.section {
    max-width: var(--content-width);
    margin: 0 auto;
}

.logo {
    padding: 1rem 0;
}

.logo > a {
    display: block;
    background: url('images/logo-no-background.png') 0 0 no-repeat;
    background-size: contain;
    width: 300px;
    height: 50px;
    text-indent: -9999px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.nav-item {
    position: relative;
    text-decoration: none;
    color: var(--color-text-primary, #000);
    font-weight: 600;
    font-size: 0.875rem;
    cursor: pointer;
}

.nav-item:hover .sub-items {
    visibility: visible;
}

.sub-items {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 100%;
    padding: 0;
    min-width: 250px;
    border-radius: 0 0 1rem 1rem;
    font-weight: 500;
    background-color: #fff;
}

.sub-item {
    padding: 0.5rem 0;
}

.sub-item:hover {
    background-color: var(--color-primary);
}

.sub-item:last-child:hover {
    background-color: var(--color-primary);
    border-radius: 0 0 1rem 1rem;
}

.sub-item > a {
    display: inline-block;
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: var(--color-text-primary, #000);
    font-weight: 600;
    font-size: 0.875rem;
}

.hamburger {
    display: none;
}

.hamburger span {
    display: block;
    width: 2.5rem;
    height: 2px;
    margin-bottom: 6px;
    background: var(--color-primary);
}

.hamburger span:last-child {
    margin-bottom: 0;
}

.full-bleed {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

.breadcrumbs {
    padding: 0;
    list-style: none;
    display: flex;
    gap: .7rem;
    font-size: .875rem;
    font-weight: 500;
    color: var(--color-text-primary);
    opacity: .75;
}

.breadcrumbs li:after {
    content: ' \21FE';
    margin-left: .7rem;
}

.breadcrumbs li:last-child::after {
    content: none;
}

.breadcrumbs a {
    text-decoration: none;
    color: var(--color-highlight, #FF8682);
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

ul.horizontal {
    display: flex;
    list-style: none;
    padding: 0;
}

.modal {
    position: fixed;
    padding: 1.5rem;
    border-radius: 12px;
    background: var(--color-neutral);
    border: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

.modal form[method="dialog"] button {
    position: absolute;
    top: 0.3rem;
    right: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.modal > img {
    border-radius: 0.5rem;
}

.card {
    background-color: var(--color-neutral, #fff);
    border-radius: 1rem;
    box-shadow: 0 4px 16px 0 rgba(141, 211, 187, 0.15);
}

.form-group,
.form-group.horizontal {
    position: relative;
    display: flex;
    gap: 1rem
}

.form-group .form-label {
    font-size: 0.875rem;
    background-color: var(--color-neutral, #fff);
    position: absolute;
    top: -0.6rem;
    left: 12px;
}

.form-group input[type="text"],
.btn {
    border: 1px solid #79747E;
    border-radius: 4px;
    padding: 12px 10px;
    width: 100%;
}

.btn {
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text-primary);
    text-align: center;
    cursor: pointer;
}

.btn.btn-primary-contrast {
    background-color: var(--color-bg);
    color: var(--color-text-primary);
}

.btn.btn-block {
    display: block;
    width: 100%;
}

.btn.btn-outline {
    background-color: transparent;
}

.btn.btn-small {
    font-size: .8rem;
    padding: .5rem 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .5rem;
    padding: 0;
    list-style: none;
    border-radius: .75rem;
    overflow: hidden;
}

.gallery li {
    overflow: hidden;
    height: 250px;
}

.gallery li:first-child {
    grid-row: span 2;
    height: 100%;
}

.gallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


/* HEADER > BANNER */
.banner {
    height: 450px;
    color: #fff;
}

.banner h1 {
    width: 15em;
    padding-top: 5rem;
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 1.5em;
}

.main-text {
    padding-top: 0 !important;
}

.banner h1 strong {
    font-size: 5rem;
    font-weight: bold;
}

.banner p {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.8)
}


/*  SEARCHBAR */
.search-bar {
    margin-top: -70px;
    padding: 1.7rem 2rem;
    color: var(--color-text-primary, #000);
    background-color: var(--color-neutral, #fff);
    border-radius: 1rem;
    box-shadow: 0 4px 16px 0 rgba(141, 211, 187, 0.15);
}

.search-bar h2 {
    font-size: 1.125rem;
    margin: 0 0 1rem;
}

/* GALLERY LIST */
header.section-header {
    position: relative;
}

header.section-header .btn {
    position: absolute;
    right: 0;
    top: 0;
}

.gallery-list ul {
    gap: 1rem;
}

.gallery-list li {
    padding: 0;
    overflow: hidden;
}

.vertical-card {
    background-color: var(--color-neutral, #fff);
    border-radius: 1rem;
    box-shadow: 0 4px 16px 0 rgba(141, 211, 187, 0.15);
    width: 24%;
}

.vertical-card > article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 420px;
    width: 100%;
    padding: 0.5rem;
    color: white;
    background-size: cover;
}

.gallery-list li article .info {
    background-color: rgba(0, 0, 0, 0.47);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.gallery-list li article .info a {
    text-decoration: none;
    color: #fff;
}

.gallery-list li article .info a:hover {
    border-bottom: 1px dotted #fff;
}

.gallery-list li article .info h1 {
    font-size: 1.5rem;
}

.gallery-list li article .info strong {
    font-size: 1rem;
}

.gallery-list li article .info p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
    font-size: 0.8rem;
}

.gallery-list li article a {
    width: 100%;
}

/* ONE-TO-FOUR */
.one-to-four .items {
    display: flex;
    gap: 1rem;
}

.one-to-four .items > * {
    min-height: 425px;
    flex: 1;
}

.one-to-four article {
    background-color: var(--color-primary);
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.one-to-four article header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.one-to-four article header h1 {
    line-height: 2.5rem;
}

.one-to-four article header p {
    width: 30%;
    border-radius: .5rem;
    padding: .5rem;
    font-size: .875rem;
    text-align: center;
}

.one-to-four article > p {
    margin-bottom: 2rem;
    flex-grow: 1;
}

.one-to-four article > a.btn {
    font-weight: normal;
    font-size: .875rem;
}

.one-to-four p strong {
    display: block;
    font-size: 0.7rem;
}

.one-to-four .items h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

.one-to-four header p {
    background-color: var(--color-bg);
}

.one-to-four .items ul {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    gap: 1rem;
    flex-wrap: wrap;
}

.one-to-four .items li {
    flex-basis: 40%;
    flex-grow: 1;
    border-radius: 1rem;
    overflow: hidden;
}

.one-to-four .items li img {
    height: 100%;
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

/* FOOTER */
footer {
    background-color: var(--color-primary);
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 15rem;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li {
    line-height: 1.8rem;
}

footer ul a {
    text-decoration: none;
    color: var(--color-text-primary);
    font-size: .875rem;
    font-weight: 500;
}

footer ul a:hover {
    text-decoration: underline;
}

footer .links {
    display: flex;
    gap: 3rem;
}

footer .subscribe {
    padding: 2rem;
    border-radius: 1rem;
    min-height: 200px;
    margin-bottom: 4rem;
    margin-top: -10rem;
    background: var(--color-primary-light) url('images/mailbox.png') right bottom no-repeat;
    background-size: contain;
}

footer .subscribe p {
    font-weight: 600;
    width: 20rem;
    line-height: 2.5rem;
    font-size: 2rem;
    margin-bottom: 2rem;
}

footer input[type="email"] {
    border-radius: .25rem;
    font-size: .875rem;
    border: 1px solid var(--color-neutral);
    width: 400px;
    padding: .5rem 1rem;
    margin-right: 1rem;
}

footer input[type="submit"] {
    background-color: var(--color-text-primary);
    color: var(--color-neutral);
    border-radius: .25rem;
    padding: .5rem 1rem;
    border: 1px solid var(--color-text-primary);
    font-size: .875rem;
    cursor: pointer;
}


/* GUIDES LIST */
.guide-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.guide-card {
    max-width: 24%;
    padding: 1rem;
    box-shadow: 0 4px 16px 0 rgba(17, 34, 17, 0.05);
}

.guide-card > a {
    text-decoration: none;
    color: #000;
}

.guide-card > a:hover {
    color: #164caf;
}

.guide-card :first-child {
    grid-row: span 2;
    border-radius: .5rem;
    object-fit: cover;
    aspect-ratio: 3 / 2;
}

.guide-card strong {
    opacity: .7;
}

.guide-card :last-child {
    font-size: .875rem;
}


.page-guides ul {
    padding: 0;
    list-style: none;
}

.page-guides > ul > li {
    margin-bottom: 2rem;
}

.page-guides article {
    display: flex;
    gap: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 16px 0 rgba(17, 34, 17, 0.05);
}

.page-guides article > img {
    max-width: 400px;
}

.page-guides article > div {
    padding: 1rem 2rem 1rem 1rem;
    flex-grow: 1;
}

.page-guides article header {
    display: flex;
    justify-content: space-between;
}

.page-guides article header :first-child {
    flex-grow: 1;
}

.page-guides article header p {
    line-height: 1.5rem;
    opacity: .75;
}

.page-guides article header p strong {
    font-size: 1.5rem;
    display: block;
    color: var(--color-highlight);
}

.page-guides article header p strong small {
    font-size: .875rem;
}

.page-guides article address {
    font-style: normal;
}

.page-guides article .rating {
    margin-top: 1rem;
    color: var(--color-text-primary);
}

.page-guides article .rating i {
    color: var(--color-highlight);
}

.page-guides article div p {
    margin-bottom: 1rem;
}


/* HOTEL DETAIL */
.page-hotels header {
    position: relative;
}

.page-hotels header h1 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: .5rem;
    text-transform: capitalize;
}

.page-hotels header address {
    opacity: .75;
    font-size: .875rem;
    font-style: normal;
}

.page-hotels header .price, .poi-type {
    color: var(--color-highlight);
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
}

.page-hotels header .price small,
.page-hotels header .poi-type small {
    font-size: .875rem;
}

.page-hotels header .rating {
    font-size: .75rem;
}

.page-hotels header .btn-outline {
    padding: .5rem .625rem;
    width: 3rem;
}

.page-hotels header .btn {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.page-hotels header .actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1rem;
    margin-top: -0.75rem;
}

.page-hotels header .actions :first-child {
    flex-grow: 1;
}

.page-hotels section {
    padding: 4rem 0;
    /*border-top: 1px solid rgba(17, 34, 17, .25);*/
}

.page-hotels section h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.page-hotels section p {
    opacity: .75;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 0.5px solid rgba(17, 34, 17, 0.25);
}

.list li > :nth-child(2) {
    flex-grow: 1;
}

/*.list li:last-child {*/
/*    border: none;*/
/*}*/

.list li img {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    object-fit: cover;
}

.list li strong {
    font-size: 1.5rem;
    font-weight: 600;
}

.list li strong small {
    font-size: small;
    font-weight: 400;
}

.page-hotels .map {
    padding: 0;
}

.page-hotels .amenities ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    margin-top: 1.5rem;
    list-style: none;
}

.page-hotels .amenities ul li {
    min-width: 30%;
}

.page-hotels .reviews .review {
    display: grid;
    grid-template-columns: 80px 1fr;
    width: fit-content;
    column-gap: .5rem;
}

.page-hotels .reviews .review > :first-child {
    grid-row: span 2;
    font-size: 3rem;
    line-height: normal;
    align-self: center;
}

.page-hotels .reviews .review em {
    font-weight: 600;
    font-size: 1.25rem;
    font-style: normal;
}

.page-hotels .reviews .review span {
    font-size: .875rem;
}

.page-hotels .reviews .review img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.page-hotels .reviews ul {
    padding: 0;
}

.page-hotels .reviews ul li {
    border-bottom: 0.5px solid rgba(17, 34, 17, 0.25);
    padding: 1rem 0;
}


/* PROFILE PAGE */
.page-profile header {
    height: 300px;
    padding-top: 220px;
    margin-bottom: 180px;
    background: url('https://images.unsplash.com/photo-1597423244036-ef5020e83f3c?auto=format&fit=crop&q=80&w=1000') center center no-repeat;
    background-size: cover;
    border-radius: .75rem;
    text-align: center;
}

.page-profile header .img {
    margin: 0 auto;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-size: cover;
    background-position: 0 0;
    border: 4px solid var(--color-highlight, #FF8682);
}

.page-profile header h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.page-profile header p {
    opacity: .75;
}

.profile-image {
    width: 100%;
}

.page-profile h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
}


.page-profile dl {
    padding: 1rem;
}

.page-profile dt {
    opacity: .75;
}

.page-profile dd {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.page-profile dd:last-child {
    margin-bottom: 0;
}

.page-profile dd .btn {
    float: right;
    margin-top: -1rem;
}


/**/

address {
    display: inline-block;
    margin-bottom: 1rem;
}


/* NEWS and POST */
.page-news > h1 {
    margin-bottom: 1rem;
}

.page-news ul {
    padding: 0 2rem;
    list-style: none;
    box-shadow: 0 4px 16px 0 rgba(17, 34, 17, 0.05);
}

.page-news li {
    border-bottom: 0.5px solid rgba(17, 34, 17, 0.2);
    padding: 2rem 0;
}

.page-news li:last-child {
    border: none;
}

.page-news article {
    margin-bottom: 1rem;
}

.page-news article a {
    text-decoration: none;
    color: var(--color-text-primary);
}

.page-news article time {
    font-size: .875rem;
    opacity: .5;
}

.page-news article span {
    display: inline-block;
    font-weight: bold;
    font-size: .875rem;
    opacity: .5;
}

.page-news article p {
    margin-top: 1rem;
}


.block {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}


.feedback-form-group .form-label {
    font-size: 0.875rem;
    background-color: var(--color-neutral, #fff);
    position: absolute;
    top: -0.6rem;
    left: 12px;
}

.feedback-form-group input[type="text"],
.feedback-form-group input[type="email"],
.feedback-form-group textarea[type="text"],
.feedback-form-group .btn {
    border: 1px solid #79747E;
    border-radius: 4px;
    padding: 12px 10px;
    width: 100%;
}

.feedback-form-group textarea[type="text"] {
    resize: vertical;

}

.feedback-form-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}


.feedback-form,
.feedback-form-img {
    width: 49%;
}

.feedback-form-img img {
    border-radius: 4px;
}

.feedback-form-header {
    margin-bottom: 1.5rem;
    padding: 2rem;
}

.feedback-msg-box {
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
}

.feedback-msg-box-success {
    padding: 1rem;
    border: 1px solid #005200;
    border-radius: 4px;
    background-color: #ecffec;
    color: #005800;
}

.feedback-msg-box-error {
    padding: 1rem;
    border: 1px solid #520000;
    border-radius: 4px;
    background-color: #ffecec;
    color: #580000;
}

/* ORGANIZATIONS */
.organization-card div {
    padding: 1rem;
    height: auto;
}

.organization-title {
    height: fit-content;
}

.mobile-nav-items {
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: #fff;
    left: 0;
    top: 75px;
    z-index: 50;
}

.mobile-nav-item {
    padding: 1rem;
    border-bottom: 1px solid var(--color-primary);
}

.mobile-sub-items {
    margin-top: 1rem;
}

.mobile-sub-item {
    padding: 0.2rem 0 0.2rem 2rem;
}

.mobile-sub-item > a::before {
    content: '\2014';
    margin-right: 0.5rem;
}

.show {
    visibility: visible;
}

/* RESPONSIVE */
@media screen and (max-width: 1000px) {
    .nav-items {
        display: none;
    }

    .hamburger {
        z-index: 100;
        padding-top: 2rem;
        display: block;
    }

    .section {
        padding: 0 2rem;
    }

    .search-bar {
        border-radius: 0;
        padding: 2rem 1rem 3rem 1rem;
    }

    .vertical-card {
        width: 32%;
    }

    .vertical-card > article {
        height: 320px;
    }

    .gallery-list li article .info h1 {
        font-size: 1rem;
    }

    .one-to-four article header {
        display: block;
    }

    .one-to-four article header p {
        margin-top: 1rem;
        width: fit-content;
        padding: 0.3rem 0.5rem;
    }

    .one-to-four .items h1 {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .one-to-four article > a.btn {
        border-radius: 1rem;
    }

    .one-to-four .items li img {
        max-height: none;
        object-fit: cover;
        aspect-ratio: 3 / 2;
    }

    .one-to-four .items ul {
        flex-direction: column;
    }

    .one-to-four .items li:first-child {
        display: none;
    }

    .one-to-four .items li:last-child {
        display: none;
    }

    footer .subscribe {
        background: var(--color-primary-light);
        padding: 1rem 1rem 2rem 1rem;
        min-height: 0;
    }

    .guide-card {
        width: 32%;
        padding: 0.5rem;
    }

    footer .subscribe p {
        font-weight: 600;
        width: 100%;
        line-height: 2.5rem;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    footer input[type="email"] {
        width: 450px;
    }
}


@media screen and (max-width: 780px) {
    .vertical-card {
        width: 49%;
    }

    .guide-card {
        min-width: 33%;
    }
}

@media screen and (max-width: 710px) {
    footer input[type="email"] {
        width: 60%;
    }

    .section {
        padding: 0 1rem;
    }

    .search-bar {
        padding: 2rem 1rem 3rem 1rem;
    }
}


@media screen and (max-width: 450px) {
    .logo {
        padding-bottom: 0;
    }

    .logo > a {
        width: 200px;
        margin-top: 0.8rem;
    }

    .banner {
        height: 350px;
    }

    .banner h1 {
        font-size: 1.5rem;
        padding-top: 2.5rem;
    }

    .banner h1 strong {
        font-size: 3.5rem;
        display: block;
        margin-top: 0.7rem;
        margin-bottom: 1rem;
    }

    .banner p {
        font-size: 1.1rem;
    }

    #subscription-form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    footer input[type="email"] {
        width: 100%;
    }

    footer .subscribe p {
        font-size: 1.1rem;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: space-between;
        border-radius: 0;
    }

    .gallery > li {
        width: 48%;
        flex-wrap: wrap;
        height: 150px;
        border-radius: 0.5rem;
    }

    .gallery > li:first-child {
        height: auto;
    }

    .gallery > li > img {
        width: 100%;
        flex-wrap: wrap;
    }

    .page-hotels section {
        padding: 2rem 0;
    }

    .page-hotels section h3 {
        font-size: 1rem;
    }

    .breadcrumbs {
        font-size: 0.7rem;
        gap: 0.4rem;
    }

    .breadcrumbs li:after {
        margin-left: 0.4rem;
    }

    .page-hotels header h1 {
        font-size: 1.2rem;
    }

    .list li strong {
        font-size: 1rem;
    }

    .list li p {
        font-size: 0.8rem;
    }

    .vertical-card {
        width: 100%;
    }

    .vertical-card > article {
        height: 200px;
    }

    .gallery-list li article .info h1 a {
        display: inline-block;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .one-to-four .items {
        flex-direction: column;
    }

    .one-to-four .items ul {
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 0;
    }

    .one-to-four .items li img {
        height: 100%;
    }

    .one-to-four .items li {
        border-radius: 0.5rem;
        height: 35%;
    }

    .one-to-four article {
        border-radius: 0.5rem;
    }

    .one-to-four .items h1 {
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.9rem;
    }

    .one-to-four article > p {
        margin-bottom: 0;
        font-size: 0.9rem;
        margin-top: 1rem;
    }

    .one-to-four .items > * {
        min-height: 315px;
    }

    .guide-card {
        min-width: 48%;
    }

    .one-to-four header p,
    header.section-header p {
        margin-top: 1.5rem;
        font-size: 0.8rem;
    }

    .page-hotels header .price, .poi-type {
        color: var(--color-highlight);
        font-size: 0.9rem;
        position: absolute;
        top: 3.7rem;
        left: 0;
        font-weight: normal;
    }

    header address {
        margin-top: 1.5rem;
    }

    .page-hotels header .price {
        top: 2.1rem;
    }

    .feedback-form-wrapper {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .feedback-form {
        width: 100%;
    }

    .feedback-form-img {
        display: none;
    }

    .feedback-form-header {
        padding: 1rem;
        margin-bottom: 0;
    }

    .feedback-form-group .btn {
        margin-top: 1rem;
    }

    footer {
        padding-top: 1rem;
    }

    .organization-card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 4px 16px 0 rgba(17, 34, 17, 0.05)
    }

    .organization-card header {
        flex-direction: column;
    }

    .organization-card div header p strong {
        flex-direction: column;
        font-size: 0.8rem;
    }

    .page-guides article > img {
        max-width: 100%;
        height: 200px;
        object-fit: cover;
        aspect-ratio: 3 / 2;
    }

    .page-guides article > :nth-child(2) {
        padding-top: 0;
    }

    .page-guides article div p {
        margin-bottom: 0;
        font-size: 0.8rem;
    }

    .organizations-header {
        font-size: 1rem;
    }

    .page-profile h2 {
        font-size: 1.2rem;
    }

    .page-news > h1 {
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    .page-news {
        margin-top: 1rem;
    }

    .page-hotels section {
        padding: 1rem 0;
        /*border-bottom: 1px solid rgba(17, 34, 17, .25);*/
    }
}


/* UTILITIES */
.pd-1 {
    padding: 1rem;
}

.pd-2 {
    padding: 2rem;
}

.pd-3 {
    padding: 3rem;
}

.pd-4 {
    padding: 4rem;
}

.pd-5 {
    padding: 5rem;
}

.pd-6 {
    padding: 6rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-4 {
    margin-top: 4rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-6 {
    margin-top: 6rem;
}

.right {
    float: right !important;
}