<footer class="full-bleed">
    <div class="wrapper">
        <div class="subscribe">
            <p>Подпишитесь на рассылку</p>
            <form id="subscription-form">
                <input id="email-for-subscription" type="email" placeholder="Ваша электронная почта...">
                <input type="submit" value="Подписаться"/>
            </form>
        </div>
        <ul class="links">
            <li>
                <strong>Информационная веб-страница г. Шахрисабз - 2023</strong>
                <ul>
                    <li><a href="">Отели</a></li>
                    <li><a href="">Рестораны</a></li>
                    <li><a href="">Телефонный справочник</a></li>
                </ul>
            </li>
            {#            <li>#}
            {#                <strong>Our activities</strong>#}
            {#                <ul>#}
            {#                    <li><a href="">Link 1</a></li>#}
            {#                    <li><a href="">Link 2</a></li>#}
            {#                    <li><a href="">Link 3</a></li>#}
            {#                    <li><a href="">Link 4</a></li>#}
            {#                </ul>#}
            {#            </li>#}
        </ul>
    </div>

</footer>
