{% load extras %}

<nav id="main">
     <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
            <div class='menu-button'></div>
        </label>

    <ul class="wrapper horizontal">
        <li><a href="{% url 'records:index' %}" title="Shahrisabz">Главная</a></li>

        {% for category in categories %}
            {% if category.visible_on_main %}
                <li class="">
                    <p>{{ category }}</p>

                    {% if category.category_set.all %}
                        <ul>
                            {% for category in category.category_set.all %}
                                <li><a href="{% url 'records:index' %}{{ category.slug }}">{{ category.title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}

    </ul>
</nav>