{% extends 'layouts/base.html' %}
{% load extras %}

{% block content %}

    <header class="full-bleed">
        {% categories %}
    </header>

    <ul class="breadcrumbs">
        <li><a href="{% url 'records:index' %}">Главная</a></li>
        <li><p>Все мероприятия / анонсы / события</p></li>
    </ul>

    <section class="one-to-four wrapper mt-4">
        {% for event in events %}
            <div class="items mt-2">
                {% if event %}
                    <article>
                        <header>
                            <h1>{{ event.title }}</h1>
                            <p><strong>{{ event.eventtype_verbose }}</strong></p>
                        </header>
                        <p class="mt-2">{{ event.description|truncatewords:20 }}</p>
                        <a href="{{ event.get_absolute_url }}" class="btn btn-block btn-primary-contrast">Узнать больше</a>
                    </article>
                {% endif %}

                {% if event.eventimage_set.all %}
                <ul>
                    {% for image in event.eventimage_set.all %}
                        <li><img src="{{ image.image.url }}" alt="{{ image.caption }}"></li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        {% endfor %}
    </section>

{% endblock content %}