{% extends 'layouts/base.html' %}
{% load static %}
{% load extras %}

{% block content %}

    <header class="full-bleed">
        {% categories %}
    </header>

    <ul class="breadcrumbs section">
        <li><a href="{% url 'records:index' %}">Главная</a></li>
        <li><p>Форма обратной связи</p></li>
    </ul>

    <div class="card section">
        <p class="{% if error %}feedback-msg-box-error{% endif %}{% if ok %}feedback-msg-box-success{% endif %}">{{ message }}</p>
        <h2 class="feedback-form-header">Напишите нам</h2>
        <div class="feedback-form-wrapper">
            <form action="{% url 'records:feedback' %}" method="POST" class="feedback-form">
                {% csrf_token %}
                <div class="feedback-form-group">
                    <input type="text" class="form-control block" placeholder="Ваше имя" name="full_name">
                    <input type="email" class="form-control block" placeholder="Ваша электронная почта" name="email">
                    <textarea rows="8" type="text" class="form-control block" placeholder="Ваше сообщение" name="message"></textarea>
                    <div class="fieldset">
                        <label>Кликните если вы человек *</label>
                        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                        <div class="g-recaptcha mt-15" data-sitekey="6LdDmNMoAAAAABj0JQvx7erspY0uRddOoPmSeFYD"></div>
                    </div>
                    <input type="submit" value="Отправить" class="btn">
                </div>
            </form>

            <div class="feedback-form-img">
                <img src="{% static 'images/fi.jpg' %}" alt="Статуя Амира Темура">
            </div>
        </div>
    </div>

{% endblock content %}