{% extends 'layouts/base.html' %}
{% load extras %}

{% block content %}
    <header class="full-bleed">
        {% categories %}
    </header>

    <ul class="breadcrumbs section mt-2 mb-2">
        <li><a href="{% url 'records:index' %}">Главная</a></li>
        <li><p>Все отели</p></li>
    </ul>

    <section class="section gallery-list mt-0">
        <header class="section-header">
            <h1>Отели Шахрисабза</h1>
        </header>
        <ul class="horizontal mt-2">
            {% if hotels %}
                {% for hotel in hotels %}
                    <li class="vertical-card">
                        <article style="background-image: url('{{ hotel.main_image.url }}')">
                            <div class="info">
                                <header>
                                    <h1><a href="{{ hotel.get_absolute_url }}">{{ hotel.title }}</a></h1>
                                    <p>{{ hotel.description }}</p>
                                </header>
                                <strong>от 700тыс. сум</strong>
                            </div>
                        </article>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </section>
{% endblock content %}