{% extends 'layouts/base.html' %}
{% load extras %}

{% block content %}
    <header class="full-bleed">
        {% categories %}
    </header>

    <ul class="section breadcrumbs mt-2 mb-2">
        <li><a href="{% url 'records:index' %}">Главная</a></li>
        <li><a href="{% url 'records:hotel-list' %}">Все организации</a></li>
        <li>{{ organization.title }} - {{ organization.orgtype_verbose}}</li>
    </ul>

    <main class="page-hotels">
        <header>
            <h1>{{ organization.title }}</h1>
            <address><i class="fa-solid fa-location-dot"></i> {{ organization.address }}</address>
        </header>

        {% if organization.organizationimage_set.all %}
            <ul class="gallery mt-2">
                {% for item in hotel.organizationimage_set.all %}
                    <li><img src="{{ item.image.url }}" alt="{{ image.caption }}"/></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if organization.description %}
            <section>
                <h3>Описание</h3>
                <p>{{ organization.description }}</p>
            </section>
        {% endif %}

        <section class="map">
            <h3>Местоположение на карте</h3>
            <div id="map" style="width: 100%; height: 500px"></div>
        </section>
    </main>

    <script>
        let orgLoc = '{{ organization.location }}'.split(',')

        let map = L.map('map').setView([orgLoc[0], orgLoc[1]], 13);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        let marker = L.marker([
            orgLoc[0],
            orgLoc[1]
        ]).addTo(map);
    </script>
{% endblock content %}