{% extends 'layouts/base.html' %}
{% load extras %}

{% block content %}

    <header class="full-bleed">
        {% categories %}
    </header>


    <ul class="breadcrumbs">
        <li><a href="{% url 'records:index' %}">Главная</a></li>
        <li><p>Все организации</p></li>
    </ul>

    <main class="page-guides">
        <header>
            <h1>Организации Шахрисабза</h1>
        </header>
        <ul class="mt-2">
            {% for organization in organizations %}
                <li>
                    <article>
                        {% for image in organization.organizationimage_set.all %}
                        	{% if image.main %}
                        		<img src="{{ image.image.url }}" alt="{{ image.caption }}"/>
                        	{% endif %}
                        {% endfor %}
                        <div>
                            <header>
                                <h1><a href="{{ organization.get_absolute_url }}">{{ organization.title }}</a></h1>
                                <p><strong>{{ organization.orgtype_verbose }}</strong></p>
                            </header>
                            <address><i class="fa-location-dot fa-solid"></i> {{ organization.address }}
                            </address>
                            <p>{{ organization.description }}</p>
                        </div>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </main>

{% endblock content %}