{% extends 'layouts/base.html' %}
{% load extras %}

{% block content %}
    <header class="full-bleed">
        {% categories %}
    </header>

    <ul class="section breadcrumbs mt-2 mb-2">
        <li><a href="{% url 'records:index' %}">Главная</a></li>
        <li><p>Все рестораны и кафе</p></li>
    </ul>

    <section class="section gallery-list mt-0">
        <header class="section-header">
            <h1>Рестораны и кафе Шахрисабза</h1>
        </header>
        <ul class="horizontal mt-2">
            {% if restaurants %}
                {% for restaurant in restaurants %}
                    <li class="vertical-card">
                        <article style="background-image: url('{{ restaurant.main_image.url }}')">
                            <div class="info">
                                <header>
                                    <h1><a href="{{ restaurant.get_absolute_url }}">{{ restaurant.title }}</a></h1>
                                    <p>{{ restaurant.description }}</p>
                                </header>
                                <strong>от {{ restaurant.average_bill }} сум</strong>
                            </div>
                        </article>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </section>

{% endblock content %}