{% extends 'layouts/base.html' %}
{% load extras %}

{% block content %}
    <header class="full-bleed">
        {% categories %}
    </header>

    <ul class="section breadcrumbs mt-2 mb-2">
        <li><a href="{% url 'records:index' %}">Главная</a></li>
        <li><a href="{% url 'records:restaurant-list' %}">Все рестораны и кафе</a></li>
        <li>{{ restaurant.title | truncatechars:25 }}</li>
    </ul>

    <main class="section page-hotels">
        <header>
            <h1>{{ restaurant.title }}</h1>
            <address><i class="fa-solid fa-location-dot"></i> {{ restaurant.address }}</address>
            {% if restaurant.average_bill > 0 %}
            	<strong class="price">{{ restaurant.average_bill }} сум <small>/ средний счет</small></strong>
            {% endif %}
        </header>

        {% if restaurant.restaurantimage_set.all %}
            <ul class="gallery mt-2">
                {% for item in restaurant.restaurantimage_set.all %}
                    <li><img src="{{ item.image.url }}" alt="{{ image.caption }}"/></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if restaurant.description %}
            <section>
                <h3>Описание</h3>
                <p>{{ restaurant.description }}</p>
            </section>
        {% endif %}

        {% if restaurant.meal_set.all %}
            <section class="meal-list">
                <h3>Меню</h3>
                <ul class="list">
                    {% for meal in restaurant.meal_set.all %}
                        <li>
                            <img class="meal-image" src="{{ meal.image.url }}" alt="{{ meal.title }}">
                            <p>{{ meal.title }}</p>
                            <strong>{{ meal.price }} сум</strong>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}

        <section class="map">
            <h3>Местоположение на карте</h3>
            <div id="map" style="width: 100%; height: 500px"></div>
        </section>
    </main>

    <dialog id="img-modal" class="modal"></dialog>

    <script>
        let restaurantLoc = '{{ restaurant.location }}'.split(',')

        let map = L.map('map').setView([restaurantLoc[0], restaurantLoc[1]], 13);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        let marker = L.marker([
            restaurantLoc[0],
            restaurantLoc[1]
        ]).addTo(map);
    </script>

    <script defer>
        let mealImages = document.querySelectorAll('.meal-image')

        mealImages.forEach(img => {
            img.addEventListener('click', e => {
                let dialog = document.getElementById('img-modal')

                dialog.innerHTML = `<img src="${img.src}" alt="${img.alt}">
                                    <form method="dialog">
                                        <button>&#10005;</button>
                                    </form>`
                dialog.showModal()
            })
        })
    </script>
{% endblock content %}