{% extends 'layouts/base.html' %}
{% load extras %}

{% block content %}

    <header class="full-bleed">
        {% categories %}
    </header>

    <ul class="section breadcrumbs">
        <li><a href="{% url 'records:index' %}">Главная</a></li>
        <li><p>Результаты поиска для запроса "{{ query }}"</p></li>
    </ul>

    <main class="section page-news">
        <h1>Результаты поиска для запроса "{{ query }}"</h1>
        <ul class="card">
            {% if guides %}
                {% for guide in guides %}
                    <li>
                        <article>
                            <h3><a href="{{ guide.get_absolute_url }}">{{ guide.get_fullname }}</a></h3>
                            <p><a href="{% url "records:index" %}">Гиды</a></p>
                        </article>
                    </li>
                {% endfor %}
            {% endif %}

            {% if hotels %}
                {% for hotel in hotels %}
                    <li>
                        <article>
                            <h3><a href="{{ hotel.get_absolute_url }}">{{ hotel.title }}</a></h3>
                            <p><a href="{% url "records:hotel-list" %}">Отели</a></p>
                        </article>
                    </li>
                {% endfor %}
            {% endif %}

            {% if organizations %}
                {% for organization in organizations %}
                    <li>
                        <article>
                            <h3><a href="{{ organization.get_absolute_url }}">{{ organization.title }}</a></h3>
                            <p><a href="{% url "records:organization-list" %}">Организации</a></p>
                        </article>
                    </li>
                {% endfor %}
            {% endif %}

            {% if pois %}
                {% for poi in pois %}
                    <li>
                        <article>
                            <h3><a href="{{ poi.get_absolute_url }}">{{ poi.title }}</a></h3>
                            <p><a href="{% url "records:poi-list" %}">Точки интереса</a></p>
                        </article>
                    </li>
                {% endfor %}
            {% endif %}

            {% if posts %}
                {% for post in posts %}
                    <li>
                        <article>
                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                            <p><a href="{% url "records:post-list" %}">Публикации</a></p>
                        </article>
                    </li>
                {% endfor %}
            {% endif %}

            {% if transports %}
                {% for transport in transports %}
                    <li>
                        <article>
                            <h3><a href="{{ transport.get_absolute_url }}">{{ transport.model }} - {{ transports.driver }}</a></h3>
                            <p><a href="{% url "records:transport-list" %}">Транспорт</a></p>
                        </article>
                    </li>
                {% endfor %}
            {% endif %}

            {% if events %}
                {% for event in events %}
                    <li>
                        <article>
                            <h3><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></h3>
                            <p><a href="{% url "records:events-list" %}">Мероприятия</a></p>
                        </article>
                    </li>
                {% endfor %}
            {% endif %}


            {% if tours %}
                {% for tour in tours %}
                    <li>
                        <article>
                            <h3><a href="{{ tour.get_absolute_url }}">{{ tour.title }}</a></h3>
                            <p><a href="{% url "records:tour-list" %}">Туры</a></p>
                        </article>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </main>

{% endblock content %}