{% extends 'layouts/base.html' %}
{% load extras %}

{% block content %}

    <header class="full-bleed">
        {% categories %}
    </header>

    <ul class="section breadcrumbs mt-2 mb-2">
        <li><a href="{% url 'records:index' %}">Главная</a></li>
        <li><a href="{% url 'records:organization-list' %}">Все туры</a></li>
        <li>{{ tour.title | truncatechars:20 }}</li>
    </ul>

    <main class="section page-hotels">
        <header>
            <h1 class="organizations-header mt-2">{{ tour.title }}</h1>
            <address><i class="fa-solid fa-location-dot"></i> {{ tour.address }}</address>
        </header>

        <ul class="gallery mt-2">
            {% if tour.image %}
                <li><img src="{{ tour.image.url }}" alt="{{ tour.title }}"/></li>
            {% endif %}
        </ul>

        {% if tour.description %}
            <section>
                <h3>Описание тура</h3>
                <p>{{ tour.description }}</p>
            </section>
        {% endif %}

        {% if tour.price %}
            <section>
                <h3>Цена</h3>
                <p>{{ tour.price }}</p>
            </section>
        {% endif %}

        {% if tour.company %}
            <section>
                <h3>Тур компания</h3>
                <p><a href="{{ tour.company.get_absolute_url }}">{{ tour.company }}</a></p>
            </section>
        {% endif %}

        {% if tour.guide %}
            <section>
                <h3>Гид</h3>
                <p><a href="{{ tour.guide.get_absolute_url }}">{{ tour.guide }}</a></p>
            </section>
        {% endif %}
    </main>

{% endblock content %}