{% extends 'layouts/base.html' %}
{% load extras %}

{% block content %}
    <header class="full-bleed">
        {% categories %}
    </header>

    <ul class="section breadcrumbs">
{#        <li><a href="{% url 'records:index' %}">Главная</a></li>#}
        <li><a href="{% url 'records:transport-list' %}">Все доступные виды транспорта</a></li>
        <li>{{ transport.model | truncatechars:10 }} - {{ transport.driver  | truncatechars:10 }}</li>
    </ul>

    <main class="section page-profile mt-3">
        <header style="background-image: url({{ transport.transport_image.url }});">
            {% if transport.driver_image %}
                <div class="img" style="background-image: url({{ transport.driver_image.url }});"></div>
            {% endif %}
            <h1>{{ transport.driver }}</h1>
            <p>{{ transport.phone }}</p>
        </header>

        <h2>Дополнительная информация</h2>
        <div class="card">
            <dl>
                {% if transport.notes %}
                    <dd>{{ transport.notes }}</dd>
                {% endif %}
            </dl>

        </div>
    </main>


{% endblock content %}